.typeBarWrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.typeBarWrapper button {
    all: unset;
    width: unset !important;
    font-size: 18px !important;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 17px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    font-family: GraphikTT;
    line-height: 1.35;
}

.typeBarWrapper button.active {
    all: unset;
    width: unset !important;
    font-size: 18px !important;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 17px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    font-family: GraphikTT;
    line-height: 1.35;
    color: #9d9d9d !important;
}